@font-face {
  font-family: "Bluu Next";
  src: url(font/bluunext.woff2), url(font/bluunext.woff);
}

body {
  font-family: Helvetica, Arial;
  font-weight: 200;
  font-size: 24px;
  line-height: 1.4;
  background-color: #9ecbff;
  color: #ffffff;
  max-width: 960px;
  margin: 220px auto 220px auto;
}

h2 {
  font-weight: 100;
}

p {
  font-family: Bluu Next, Times New Roman;
  color: #fff1ad;
  font-size: 36px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px;
  text-align: center;
  z-index: 1;
}

img.logo {
  width: 100px;
}

a {
  position: absolute;
  text-decoration: none;
  color: #fff1ad;
  padding: 20px 20px 20px 20px;
  transition: all 0.7s ease;
}

a:hover {
  font-size: 44px;
}

section {
  margin: 80px 0 80px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

section div {
  padding: 40px;
}

/* JavaScript Classes */

header.scrolled img {
  width: 64px;
}

header img {
  transition: all 0.5s ease;
}
