body {

	font-family: Arial;
	font-size: 16px;
	line-height: 1.5;

	background-color: #ffffff;
	color: #333333;
}

html, body {
  position: fixed;
}

canvas {
  vertical-align: bottom;
}

div {
	color: white;
	position: fixed;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
}
