@font-face {
  font-family: 'Bluu Next';
  src: url(bluunext.woff2), url(bluunext.woff);
}

body {
  font-family: Bluu Next, Times New Roman;
  font-weight: 200
  font-size: 24px;
  line-height: 1.4;
  font-size: 36px;
  background-color: #ffffff;
  background-image: linear-gradient(180deg, #9ecbff, rgba(255, 255, 255, 0));
  color: #ffffff;
  height: 100vh;
  transition: background-color 0.5s;
}

section {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  text-align: center;
}

img.facebook, img.google, img.browser {
  height: 40px;
  display: inline-block;
  margin: 10px;
  align-items: center;
}

footer {
  padding-top: 30px;
}

footer.data {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px 0 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  margin: 0 10px 0 10px;
  cursor: pointer;
}

p {
  font-family: Helvetica, Arial;
  font-weight: 200;
  font-size: 24px;
  line-height: 1.4;
}

div.purchase img {
  padding-top: 20px;
  height: 40px;
}
